@page "{restaurantId:int}"

@model OdeToFood.Pages.Restaurants.DetailModel

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Restaurant.Name</h2>
<div>
    Id: @Model.Restaurant.Id
</div>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Cuisine: @Model.Restaurant.Cuisine
</div>

<p>
    <br />
    <a asp-page="./List" class="btn btn-outline-secondary">All Restaurants</a>
</p>